<% content_for :title, @room.title %>
<h2><%= @room.title %></h2>
<p>You can access your room in the future with the code <%= @room.uid %></p>

<p><%= link_to 'New Comment', new_room_comments_path(@room), :class => "btn btn-primary" %></p>
<h4>Comments</h4>
	<div class="room_content">
    <% for comment in @room.comments %>
	   <div class="room_comments">
	      <div class="room_comment"><strong><%= comment.name %></strong>: <%= comment.comment %></div>
	      <div class="hidden-xs room_comment_date"><%= time_ago_in_words(comment.created_at) %> ago</div>
	  </div>
    <% end %>
    </div>
